---
import CardItem from "./CardItem.astro";
const allPosts = await Astro.glob("../pages/blog/*.mdx");
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft);
---

<div class="text-xl font-bold mb-5 mt-10">Latest from blog</div>

<div class="container">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">
    {
      nonDraftPosts.map((post:any) => (
        <CardItem
          url={post.url}
          title={post.frontmatter.title}
          description={post.frontmatter.description}
          tags={post.frontmatter.tags}
          pubDate={post.frontmatter.pubDate}
          image={post.frontmatter.image}
        />
      ))
    }
  </div>
</div>
